<form action="/games/<%= @game.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="put">
  <div>
    <label for="">Game Title</label>
    <input name="title" type="text" value="<%= @game.title %>">
  
    <label for="">Cover url</label>
    <input name="image_url" type="text"value="<%= @game.image_url %>">
  </div>
  <div>
    <label for="">description</label>
    <textarea name="description" id="" cols="30" rows="10"><%= @game.descriptions %></textarea>
  </div>
  <button>Edit Details</button>
</form>