<div>
  <div class="img-container" >
    <img src=<%= @movie_poster%> alt="">
  </div>
  <div class="details-container">
    <div><%= "#{@movie_title} (#{@movie_year})" %></div>
    <div><%= @movie_genre%></div>
    <div><%= "Rated: #{@movie_rated} - #{@movie_runtime}"%></div>
    <article><%= @movie_plot%></article>
  </div>







  <h2>
    
  </h2>
  <div><%= @movie_release_date %></div>
  
</div>