<!DOCTYPE html>
<html>
  <head>
    <title>RokuYon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/"><h1>ロクヨン - RokuYon - 六四</h1></a>
      
      <% if logged_in? %>
        logged in as <%= current_user.email %>
          <form action="/session" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <button>Logout</button>
          </form>
          
      <% else %>
        <a href="/login">Login</a>
      <% end %>
    </header>
    <nav>
      <a href="/">Games List</a>
      <a href="/games/new">Create New</a>
    </nav>
    <%= yield %>
  </body>
</html>
